---
http_interactions:
- request:
    method: get
    uri: https://opendata.nicecotedazur.org/data/api/3/action/package_list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<NICE_CKAN_API_KEY>"
      X-Ckan-Api-Key:
      - "<NICE_CKAN_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"help": "Return a list of the names of the site''s datasets (packages).\n\n    :rtype:
        list of strings\n\n    ", "success": true, "result": ["extrait-de-la-base-sirene-sur-le-perimetre-de-la-commune-d-aspremont",
        "extrait-de-la-base-sirene-pour-la-commune-de-tourrette-levens", "adhesions-aux-cal-de-nice-2012-2013",
        "tarifs-des-services-publics-de-la-ville-de-nice-2020", "nombre-de-divorces-enregistres-par-mois-de-personnes-mariees-a-nice-pour-l-annee-2015",
        "extrait-de-la-base-sirene-sur-le-perimetre-de-la-commune-de-levens", "nombre-d-habitants-a-tournefort-par-unite-urbaine",
        "extrait-de-la-base-si[...]
