---
http_interactions:
- request:
    method: get
    uri: https://www.data.gouv.fr/api/1/organizations/nice-cote-dazur/datasets?page=1&page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: PERMANENT REDIRECT
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.data.gouv.fr/api/1/organizations/nice-cote-dazur/datasets/?page=1&page_size=5
    body:
      encoding: UTF-8
      string: |
        <!doctype html>
        <html lang=en>
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to the target URL: <a href="https://www.data.gouv.fr/api/1/organizations/nice-cote-dazur/datasets/?page=1&amp;page_size=5">https://www.data.gouv.fr/api/1/organizations/nice-cote-dazur/datasets/?page=1&amp;page_size=5</a>. If not, click the link.
  recorded_at: Mon, 16 Feb 2026 05:36:36 GMT
- request:
    method: get
    uri: https://www.data.gouv.fr/api/1/organizations/nice-cote-dazur/datasets/?page=1&page_size=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"access_audiences": [], "access_type": "open", "access_type_reason":
        null, "access_type_reason_category": null, "acronym": null, "archived": null,
        "authorization_request_url": null, "badges": [], "contact_points": [], "created_at":
        "2014-06-05T00:00:00+00:00", "deleted": null, "description": "Ce jeu de donn\u00e9es
        renseigne sur le nombre de mariages c\u00e9l\u00e9br\u00e9s \u00e0 par mois
        \u00e0 Nice.", "description_short": null, "extras": {}, "featured": false,
        "frequency": "unknown", "frequency_date": null, "harvest": {"backend": "CKAN",
        "created_at": "2014-06-05T00:00:00+00:00", "domain": "opendata.nicecotedazur.org",
        "last_update": "2026-02-16T03:00:27.361000+00:00", "remote_id": "0624d171-1e79-4735-9541-955e8075ab54",
        "remote_url": "http://opendata.nicecotedazur.org/data/dataset/nombre-de-mariages-celebres-par-mois-pour-l-annee-2013",
        "source_id": "59aea691c751df40c6e8212c"}, "id": "59aea784a3a72917d9f3fc72",
        "internal": {"created_at_internal": "2014-06-05T00:00:00+00:00", "last_modified_internal":
        "2019-05-17T00:00:00+00:00"}, "last_modified": "2019-05-17T00:00:00+00:00",
        "last_update": "2014-11-06T00:00:00+00:00", "license": "lov2", "metrics":
        {"dataservices": 1, "discussions": 0, "discussions_open": 0, "followers":
        0, "followers_by_months": {"2024-08": 0, "2024-09": 0, "2024-10": 0, "2024-11":
        0, "2024-12": 0, "2025-01": 0, "2025-02": 0, "2025-03": 0, "2025-04": 0, "2025-05":
        0, "2025-06": 0, "2025-07": 0, "2025-08": 0}, "resources_downloads": 1032,
        "reuses": 0, "reuses_by_months": {"2024-08": 0, "2024-09": 0, "2024-10": 0,
        "2024-11": 0, "2024-12": 0, "2025-01": 0, "2025-02": 0, "2025-03": 0, "2025-04":
        0, "2025-05": 0, "2025-06": 0, "2025-07": 0, "2025-08": 0}, "views": 2603},
        "organization": {"acronym": "MNCA", "badges": [{"kind": "local-authority"},
        {"kind": "certified"}], "class": "Organization", "id": "59aea226c751df38f3f6834b",
        "logo": "https://static.data.gouv.fr/avatars/08/d2b35780ce41768addccd1f563be92-original.png",
        "logo_thumbnail": "https://static.data.gouv.fr/avatars/08/d2b35780ce41768addccd1f563be92-100.png",
        "name": "M\u00e9tropole Nice C\u00f4te d''Azur", "page": "https://www.data.gouv.fr/organizations/nice-cote-dazur",
        "permissions": {"delete": false, "edit": false, "harvest": false, "members":
        false, "private": false}, "slug": "nice-cote-dazur", "uri": "https://www.data.gouv.fr/api/1/organizations/nice-cote-dazur/"},
        "owner": null, "page": "https://www.data.gouv.fr/datasets/nombre-de-mariages-celebres-par-mois-pour-l-annee-2013",
        "permissions": {"delete": false, "edit": false, "edit_resources": false},
        "private": false, "quality": {"all_resources_available": true, "dataset_description_quality":
        false, "has_open_format": true, "has_resources": true, "license": true, "resources_documentation":
        false, "score": 0.3333333333333333, "spatial": false, "temporal_coverage":
        false, "update_frequency": false}, "resources": [{"checksum": null, "created_at":
        "2014-06-05T00:00:00+00:00", "description": "", "extras": {"analysis:checksum":
        "fb036523a188a48a47af042412821be4f8fa8513", "analysis:content-length": 26624,
        "analysis:last-modified-at": "2014-11-06T00:00:00+00:00", "analysis:last-modified-detection":
        "harvest-resource-metadata", "analysis:mime-type": "application/vnd.ms-excel",
        "analysis:parsing:finished_at": "2025-04-09T21:46:26.333921+00:00", "analysis:parsing:parsing_table":
        "389091438e34d9663daedb73a8532da1", "analysis:parsing:started_at": "2025-04-09T21:46:25.985936+00:00",
        "check:available": true, "check:cors:allow-headers": "X-CKAN-API-KEY, Authorization,
        Content-Type", "check:cors:allow-methods": "POST, PUT, GET, DELETE, OPTIONS",
        "check:cors:allow-origin": "*", "check:cors:status": 200, "check:count-availability":
        160, "check:date": "2026-02-12T09:57:41.004888+00:00", "check:headers:content-length":
        26624, "check:headers:content-type": "application/vnd.ms-excel", "check:id":
        41380799, "check:status": 200, "check:timeout": false, "check:url": "http://opendata.nicecotedazur.org/data/storage/f/2014-11-06T12%3A08%3A11.276Z/2013-nombre-de-mariages-celebres.xls"},
        "filesize": null, "filetype": "remote", "format": "xls", "harvest": {"issued_at":
        "2014-06-05T00:00:00+00:00", "modified_at": "2014-11-06T00:00:00+00:00"},
        "id": "c5493d38-7b8c-4b23-9547-0d29df07ae7e", "internal": {"created_at_internal":
        "2017-09-05T15:32:52.394000+00:00", "last_modified_internal": "2014-11-06T00:00:00+00:00"},
        "last_modified": "2014-11-06T00:00:00+00:00", "latest": "https://www.data.gouv.fr/api/1/datasets/r/c5493d38-7b8c-4b23-9547-0d29df07ae7e",
        "metrics": {"nb_hits": 0, "nb_uniq_visitors": 0, "nb_visits": 0, "views":
        451}, "mime": "application/vnd.ms-excel", "preview_url": "https://explore.data.gouv.fr/fr/resources/c5493d38-7b8c-4b23-9547-0d29df07ae7e",
        "schema": null, "title": "2013 Nombre de mariages celebres.xls", "type": "main",
        "url": "http://opendata.nicecotedazur.org/data/storage/f/2014-11-06T12%3A08%3A11.276Z/2013-nombre-de-mariages-celebres.xls"},
        {"checksum": null, "created_at": "2014-06-05T00:00:00+00:00", "description":
        "", "extras": {"analysis:checksum": "62d795b4cd02cec5844503c4cd9dfa72b4faa4a4",
        "analysis:content-length": 3621, "analysis:last-modified-at": "2014-06-23T00:00:00+00:00",
        "analysis:last-modified-detection": "harvest-resource-metadata", "analysis:mime-type":
        "appl[...]
