---
http_interactions:
- request:
    method: get
    uri: https://www.data.gouv.fr/api/1/datasets/export-quotidien-au-format-gtfs-du-reseau-de-transport-lignes-d-azur/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_audiences": [], "access_type": "open", "access_type_reason":
        null, "access_type_reason_category": null, "acronym": null, "archived": null,
        "authorization_request_url": null, "badges": [], "contact_points": [], "created_at":
        "2015-04-21T00:00:00+00:00", "deleted": null, "description": "Vous trouverez
        dans ce jeu de donn\u00e9es un export du r\u00e9seau de transport \"Lignes
        d''Azur\" au format standard GTFS (General Transit Feed Specification) comportant
        sept fichiers (agency, calendar, calendar_dates, routes, stop_times, stops,
        trips). Ce fichier est mis \u00e0 jour tous les jours. Il a \u00e9t\u00e9
        modifi\u00e9 le 25/10/2021. Lien direct de t\u00e9l\u00e9chargement : https://opendata.nicecotedazur.org/data/dataset/export-quotidien-au-format-gtfs-du-reseau-de-transport-lignes-d-azur/resource/aacb4eea-d008-4b13-b17a-848b8ced7e03/download",
        "description_short": null, "extras": {}, "featured": false, "frequency": "daily",
        "frequency_date": null, "harvest": {"backend": "CKAN", "created_at": "2015-04-21T00:00:00+00:00",
        "domain": "opendata.nicecotedazur.org", "last_update": "2026-02-16T03:01:46.883000+00:00",
        "remote_id": "821f7ff3-e5c3-47ab-a0ef-4c1bc6aac361", "remote_url": "http://opendata.nicecotedazur.org/data/dataset/export-quotidien-au-format-gtfs-du-reseau-de-transport-lignes-d-azur",
        "source_id": "59aea691c751df40c6e8212c"}, "id": "59aea7b3b595087a239169d7",
        "internal": {"created_at_internal": "2015-04-21T00:00:00+00:00", "last_modified_internal":
        "2025-06-04T12:27:24.869000+00:00"}, "last_modified": "2025-06-04T12:27:24.869000+00:00",
        "last_update": "2025-12-15T00:00:00+00:00", "license": "lov2", "metrics":
        {"dataservices": 0, "discussions": 12, "discussions_open": 12, "followers":
        1, "followers_by_months": {"2024-08": 0, "2024-09": 0, "2024-10": 0, "2024-11":
        0, "2024-12": 0, "2025-01": 0, "2025-02": 0, "2025-03": 0, "2025-04": 0, "2025-05":
        0, "2025-06": 0, "2025-07": 0, "2025-08": 0}, "resources_downloads": 4854,
        "reuses": 3, "reuses_by_months": {"2024-08": 0, "2024-09": 0, "2024-10": 0,
        "2024-11": 0, "2024-12": 0, "2025-01": 0, "2025-02": 0, "2025-03": 0, "2025-04":
        0, "2025-05": 0, "2025-06": 0, "2025-07": 0, "2025-08": 0}, "views": 6228},
        "organization": {"acronym": "MNCA", "badges": [{"kind": "local-authority"},
        {"kind": "certified"}], "class": "Organization", "id": "59aea226c751df38f3f6834b",
        "logo": "https://static.data.gouv.fr/avatars/08/d2b35780ce41768addccd1f563be92-original.png",
        "logo_thumbnail": "https://static.data.gouv.fr/avatars/08/d2b35780ce41768addccd1f563be92-100.png",
        "name": "M\u00e9tropole Nice C\u00f4te d''Azur", "page": "https://www.data.gouv.fr/organizations/nice-cote-dazur",
        "permissions": {"delete": false, "edit": false, "harvest": false, "members":
        false, "private": false}, "slug": "nice-cote-dazur", "uri": "https://www.data.gouv.fr/api/1/organizations/nice-cote-dazur/"},
        "owner": null, "page": "https://www.data.gouv.fr/datasets/export-quotidien-au-format-gtfs-du-reseau-de-transport-lignes-d-azur",
        "permissions": {"delete": false, "edit": false, "edit_resources": false},
        "private": false, "quality": {"all_resources_available": true, "dataset_description_quality":
        true, "has_open_format": true, "has_resources": true, "license": true, "resources_documentation":
        false, "score": 0.6666666666666666, "spatial": true, "temporal_coverage":
        false, "update_frequency": true, "update_fulfilled_in_time": false}, "resources":
        [{"checksum": null, "created_at": "2015-04-21T00:00:00+00:00", "description":
        "", "extras": {"analysis:check_id": 38059056, "analysis:checksum": "805a084010dcac521fd98c1dd26ba1945b7e6e3a",
        "analysis:content-length": 9581361, "analysis:last-modified-at": "2025-12-15T00:00:00+00:00",
        "analysis:last-modified-detection": "harvest-resource-metadata", "analysis:mime-type":
        "application/zip", "check:available": true, "check:count-availability": 18,
        "check:date": "2025-06-12T23:53:51.928841+00:00", "check:headers:charset":
        "iso-8859-1", "check:status": 200, "check:timeout": false, "check:url": "http://opendata.nicecotedazur.org/data/storage/f/gtfs1625613301/GTFSExport.zip"},
        "filesize": null, "filetype": "remote", "format": "zip", "harvest": {"issued_at":
        "2015-04-21T00:00:00+00:00", "modified_at": "2025-12-15T00:00:00+00:00"},
        "id": "aacb4eea-d008-4b13-b17a-848b8ced7e03", "internal": {"created_at_internal":
        "2017-09-05T15:33:39.895000+00:00", "last_modified_internal": "2025-06-04T11:53:02.806000+00:00"},
        "last_modified": "2025-12-15T00:00:00+00:00", "latest": "https://www.data.gouv.fr/api/1/datasets/r/aacb4eea-d008-4b13-b17a-848b8ced7e03",
        "metrics": {"nb_hits": 0, "nb_uniq_visitors": 0, "nb_visits": 0, "views":
        4966}, "mime": "application/zip", "preview_url": null, "schema": {"name":
        null, "url": null, "version": null}, "title": "GTFSExport.zip", "type": "main",
        "url": "http://opendata.nicecotedazur.org/data/storage/f/gtfs1771200901/GTFSExport.zip"}],
        "schema": null, "slug": "export-quotidien-au-format-gtfs-du-reseau-de-transport-lignes-d-azur",
        "spatial": {"geom": null, "granularity": "country-group", "zones": []}, "tags":
        ["agence", "arret", "bus", "calendrier", "gtfs", "horaire", "ligne", "tram",
        "tramway", "voyage"], "temporal_coverage": null, "title": "Export quotidien
        au format GTFS du r\u00e9seau de transport Lignes d''Azur", "uri": "https://www.data.gouv.fr/api/1/datasets/export-quotidien-au-format-gtfs-du-reseau-de-transport-lignes-d-azur/"}'
  recorded_at: Mon, 16 Feb 2026 05:36:36 GMT
recorded_with: VCR 6.4.0
